@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


/* .container-fluid{
    border: 1px solid black;
} */

*{
    font-family: 'Quicksand';
}

/* Login */

nav img{
    width: 70%;
}

.login-side{
    position: relative;
    top: 150px;
}

.login-side button{
    width: 40%;
    height: 30px;

    border-radius: 5px;
    border: none;
    outline: none;
}

.bg-login{
    position: fixed;
    top: -20px;
    left: -5px;

    width: 45%;
    height: 3440px;
    z-index: -1;
    background: #3A1919;
}

.two-side{
    position: relative;
}

.two-side .login-section input{
    width: 10cm;
    margin-bottom: 50px;

    color: white;
    border-bottom: 2px white solid!important;
    background: none;
    border: none;
    outline: none!important;
}

.img-login .rectangle-login{
    position: fixed;
    top: 100px;
    left: 23cm;

    width: 550px;
    height: 550px;

    background: grey;
    border-radius: 15px;
}