@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

/* .container-fluid, .container{
    border: 1px black solid;
} */

*{
    font-family: 'Quicksand';
    font-weight: medium;
}
/* Navbar */

nav{
    top: 10px;
}

.navbar-maps ul li a{
    color: black!important;
}

.navbar-home ul li a{
    color: white!important;
}

.navbar-brand img{
    width: 6em;
}

.navbar-nav .nav-item{
    margin-left: 50px;
}

/* Heroes */

.heroes {
    position: relative;
    margin-top: 20px;
}

.background-heroes{
    position: absolute;
    display: flex;
    top: -150px;
    left: -0.60px;

    width: 100%;
    width: var(-webkit-fill-available);
    overflow-x: hidden;
    overflow-y: hidden;
    height: 1265px;
    z-index: -1;

    background: #3A1919;
    box-shadow: 30px 30px 52px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 500px 0px;
}

.content{
    position: relative;
    top: 100px;
}

.desc-content{
    color: white;
}

.desc-content h1{
    width: 350px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    letter-spacing: 0.15em;
}

.desc-content p{
    font-size: 14px;
    margin-top: 50px;
    line-height: 25px;

    text-align: justify;
}

.desc-middle img{
    position: relative;
    left: 50px;
    border-radius: 350px 350px 50px 50px;
    filter: drop-shadow(25px 20px 50px rgba(0, 0, 0, 0.25));

    width: 450px;
}

.desc-middle p{
    color: white;
}

.desc-middle .fav-text{
    position: absolute;

    top: 100px;
    left: 45em;

    background: #796530;
    padding: 5px 60px;

    border-radius: 20px;
}

.desc-list{
    position: relative;
    top: 275px;
    left: 75px;
    color: white;
}

.desc-list p{
    font-weight: 700;
}

/* Maps */

.maps-content iframe{
    position: relative;
    margin-top: 50px;
    margin-bottom: 100px;
}

iframe{
    width: 100%;
}

/* Menu */

.card-sec{
    margin-top: 15em;
}

.card-sec .card{
    position: relative;
    height: 700px;
    margin-bottom: 200px;

    border-radius: 75px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
}

.card-content img{
    position: relative;
    width: 200px;
    left: 42%;

    margin-top: 50px;
    margin-bottom: 50px;
}

.rectangle-qr{
    position: relative;
    width: 350px;
    height: 350px;

    left: 35%;
    margin-bottom: 50px;

    background: grey;
}

.card-content span{
    position: relative;
    left: 36%;

    letter-spacing: 0.2em;
}

/* Short Profile */

.short-profile{
    margin-top: 10em;
    margin-bottom: 10em;
}

.short-profile .left-side h1{
    font-size: 24px;
    font-weight: bolder;
}

.short-profile .left-side p{
    width: 550px;

    margin-top: 50px;
    text-align: justify;
}

.short-profile .left-side span{
    font-weight: 700;
}

.short-profile .right-side .rectangle-photo{
    height: 250px;
    width: 250px;

    background: grey;
}

.left-side .maps{
    padding: 5px 40px;

    color: white;
    text-decoration: none;
    background: #3A1919;
    outline: none!important;
}

.left-side .inform{
    padding: 5px 40px;
    margin-left: 10px;

    color: white;
    text-decoration: none;
    background: #3A1919;
    outline: none!important;
}

/* Best Selling */

.best-selling{
    margin-bottom: 130px;
}

.best-bg{
    width: 100%;
    height: 400px;

    background: #3A1919;
}

.best-title{
    position: relative;
    width: 20%;
    height: 30px;

    top: -10px;
    left: 40%;


    border-radius: 3px;
    background: #FFFFFF;
    color: black;
    box-shadow: 0px -5px 20px -10px rgba(0, 0, 0, 0.75);
}

.best-title p{
    position: relative;
    top: 3px;

    font-weight: 600;
}

/* Footer */

.footer-bg-top{
    width: 100%;
    height: 300px;

    background: #FFFFFF;
    box-shadow: 0px 0px 79px -20px rgba(0, 0, 0, 0.25);
}

.footer-item{
    position: relative;
    top: 30px;
}

.footer-item h3{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 40px;
}

.footer-item ul li{
    position: relative;
    left: -30px;

    margin-bottom: 30px;
    font-size: 14px;
    list-style-type: none;
}

.footer-item ul li a{
    font-weight: 300;
    text-decoration: none;
    color: black;
}

.footer-item ul li a:hover{
    font-weight: 600;
}

.foot-item3 p{
    font-size: 14px;
}

.foot-item4 p{
    position: relative;
    left: 50px;

    font-size: 24px;
    text-align: center;
}

.foot-item4 span{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-bg-bot{
    width: 100%;
    height: 50px;

    color: white;
    background: #3A1919;
}

.footer-text{
    position: relative;
    top: 15px;

    font-size: 14px;
}